.1{
    float: left;
    height: 10px;
    width: 10px;
    margin: 2px;
    background-color: gray;
}
.2{
    float: left;
    height: 10px;
    width: 10px;
    margin: 2px;
    background-color: #84FF84;
}
.3{
    float: left;
    height: 10px;
    width: 10px;
    margin: 2px;
    background-color: #53ec53;
}
.4{
    float: left;
    height: 10px;
    width: 10px;
    margin: 2px;
    background-color: #00BC00;
}
.5{
    float: left;
    height: 10px;
    width: 10px;
    margin: 2px;
    background-color: #008F00;
}
